/* Couleurs et Polices */
body {
  box-sizing: border-box;
  color: #4a4a4a;
  font-family: 'Arial', sans-serif;
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.flag-image {
  max-width: 80%; /* ou une taille spécifique */
  margin-bottom: 20px; /* espace entre l'image et la barre de réponse */
}

/* Styles pour les liens de navigation */
.App-link {
  color: #e5cb9a;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

button {
  margin-top: 10px; /* espace entre les boutons */
}

/* Styles pour les boutons */
button, input[type="submit"], input[type="button"] {
  background-color: #e1b74c;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* pour s'adapter à la largeur du conteneur */
}

button:last-child, input[type="submit"]:last-child, input[type="button"]:last-child {
  margin-right: 0;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #e69500;
}

.input-response {
  margin-bottom: 20px; /* espace entre la barre de réponse et les boutons */
}

/* Plus d'ajustements pour les petits écrans */
@media (max-width: 768px) {
  .App {
    padding: 20px; /* Réduire le padding sur les petits écrans */
  }

  button, input[type="submit"], input[type="button"] {
    margin-right: 5px;
  }
}
